.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #822659;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    overflow-y: none;
}
.header_middle{
    display: flex;
    align-items: center;
    flex: 0.4;
}
.header_left{
    display: flex;
    justify-content: flex-end;
    flex: 0.3;
}
.header_right{
    flex: 0.3;
    margin-left: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header_middle input{
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    background-color: #822659;
    color: white;
    cursor: pointer;
}
.header_middle input:hover{
    background-color: #8f4068;
}
.MuiSvgIcon-root{
    margin: 10px !important;
    color: #f4f9f9 !important; 
}
.avatar{
    margin-right: 30px !important;
    border-radius: 6px !important;
}
.avatar span{
    position: absolute;
    background-color: #79d70f;
    top: 37px;
    height: 13px;
    right: 45px;
    width: 13px;
    border-radius: 60px;
}