.message{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px !important;
}
.message img{
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}
.message_body{
    margin-left: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.message_body h3{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'RocknRoll One', sans-serif;
}
.message_body p{
    font-size: 20px;
    margin-right: auto !important;
    font-weight: bolder;
    color: gray;
    margin-top: 12px !important;
    font-family: 'Inconsolata', monospace;
}
.message_body h3 span{
    color: gray;
    font-size: 17px;
    margin-left: 10px;
}