.message{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px !important;
    margin: 10px;
}
.message img{
    height: 40px;
    object-fit: contain;
    border-radius: 10px;
}
.message_body{
    margin-left: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.message_body h3{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'RocknRoll One', sans-serif;
    margin-left: 3px;
    margin-right: auto;
}
.message_body p{
    font-size: 17px;
    margin-right: auto !important;
    font-weight: bolder;
    color: #464f41;
    margin-top: 6px !important;
    font-family: 'Inconsolata', monospace;
}
.message_body h3 span{
    color: gray;
    font-size: 13px;
    margin-left: 10px;
}